<nav
    class="fixed top-0 z-10 flex justify-between w-full border-b-2 border-blue-600 bg-blue-50"
>
    <a class="md:border-r-2" href="/">Dariusz Sułtanowski</a>
    <ul class="flex list-none">
        <li class="flex justify-center items-center border-l-2 border-blue-600">
            <a href="/assets/files/ds_curriculum-vitae.pdf" download>CV</a>
        </li>
    </ul>
</nav>

<style scoped>
    @reference '../styles/global.css';
    a {
        @apply flex justify-center items-center p-8 border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
    }
</style>
