---
import ProjectsSlider from "./ProjectsSlider.astro";
---

<main>
    <section
        id="hero"
        class="flex flex-col justify-between min-h-[100vh] overflow-clip bg-blue-50"
    >
        <h1>
            Projektuje i wdrażam strony internetowe oraz aplikacje webowe za
            pomocą technologii No-Code.
        </h1>
        <ProjectsSlider />
    </section>
</main>

<style scoped>
    @reference '../styles/global.css';

    #hero {
        @apply p-4 xl:p-8 pt-28 xl:pt-32;
    }

    h1 {
        @apply text-blue-600 text-4xl md:text-5xl xl:text-7xl font-bold mb-8 xl:mb-0;
    }
</style>
