---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/jetbrains-mono";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- <meta name="generator" content={Astro.generator} /> -->
        <title>Dariusz Sułtanowski — Design & Development</title>
    </head>
    <body>
        <Navigation />
        <slot />
    </body>
</html>

<style>
    @reference '../styles/global.css';
    html,
    body {
        @apply m-0 w-full h-full bg-blue-600;
    }

    body {
        font-family: "Inter Tight Variable", sans-serif;
    }

    .font-mono {
        font-family: "JetBrains Mono Variable", monospace !important;
    }
</style>
